[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
waitress = "*"
dependency-injector = "*"
pymongo = "*"
dnspython = "*"
ulid-py = "*"
bcrypt = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start_users = "python src/users.py"
start_characters_and_comics = "python src/characters-and-comics.py"
