[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
waitress = "*"
dependency-injector = "*"
pymongo = "*"
dnspython = "*"
ulid-py = "*"
bcrypt = "*"
pyjwt = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start_users = "python src/users.py"
start_characters = "python src/characters.py"
